<div ui-view
  ng-style="
    { 'background-color': 'Gainsboro', 
      'height': '100%', width:'100%',
    }"
>
  <div class="row" style="margin-left: 10px; background-color: white; color: orange">
	  <h1>  Search Results </h1>
	</div>

	<div class="row" style="margin-left: 3px">
	  <div class="col-md-3">
	    <search-form search="$ctrl.newSearch" on-add-search="$ctrl.addSearch($event);"></search-form>
	  </div>
    <div class="col-md-9">
      <search-list searches="$ctrl.searches"></search-list>
    </div>
	</div>

	<!-- 재생 버튼 -->
  <audio 
    id="audioplayer"
    src="/stream/{{$ctrl.state.song}}" 
    type="audio/mp3" 
    controls="controls"
    autoplay> 
  </audio>
  
</div>
