<div class="search-form"
  ng-style="
    { 'background-color': 'white', 
      'margin': '5px 0px',
      'padding': '10px'
    }">

	<form class="form-group" name=searchForm ng-submit="$ctrl.onSubmit();">
	  <label>검색조건</label>
    <select class="form-control" ng-model="$ctrl.search.selected" style="margin-bottom: 3px">
		  <option value="title">title</option>
		  <option value="artist">artist</option>
		</select>
		<input class="form-control" placeholder="keyword" type="text" ng-model="$ctrl.search.keyword">
	</form>
  
	<button class="btn btn-primary" style="width: 100%" type="submit" ng-click="$ctrl.onSubmit();">검색
	</button>

</div>


