<div>

  <div ng-if="searches.length !== 0;">
    <h2>검색결과 {{ $ctrl.searches.length }} 건이 있습니다.</h2>
  </div>

  <div ng-if="searches.length === 0;">
    <h2>검색 결과가 없습니다.</h2>
  </div>

  <ul style="padding-left: 0px">
  
    <li
      ng-repeat="song in $ctrl.searches | orderBy: 'title'" 
      ng-style="
      { 'background-color': 'white', 
        'margin': '4px',
        'padding': '1px',
        'list-style-type': 'none'
      }">

      <div class="row card" style="width: 70rem;">

        <div class="col-md-2">
          <img 
            ng-src="/imgdown/{{song.picture}}" 
            ng-style="{ 
              'display': 'inline-block',
              'height': '110px', width:'110px',
              'background-repeat': 'no-repeat',
              'background-size': '100%'}"/>
            <span 
              class="glyphicon glyphicon-play-circle"
              ng-click="$ctrl.onPlay(song.title)">
            </span>
        </div>

        <div class="col-md-8">
          <div class="card-block">
            <h4 class="card-title">{{song.title.split('.mp3')[0]}}</h4>
            <p class="card-text">{{song.artist}}</p>
          </div>
        </div>
        
        <div class="col-md-1">
          <a href="#" class="btn glyphicon glyphicon-shopping-cart">cart</a> 
        </div>

      </div>

    </li>

  </ul>

</div>
